<div class="main-div">
    <div class="card">
        <img [src]="image1Src" alt="Avatar">
        <div class="container">
          <h4><b>ESSE</b></h4>
          <p>Architect & Engineer</p>
        </div>
    </div>  
    <div class="card">
        <img [src]="image2Src" alt="Avatar">
        <div class="container">
          <h4><b>ESSE</b></h4>
          <p>Architect & Engineer</p>
        </div>
    </div>  
</div>
  
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
